.sidebar {
  @apply bg-contain bg-no-repeat relative;
  /* width: 250px; */
  height: 100vh;
  background-color: #051e34;
  background-image: url("../../../../../public/nav_bg.png");
  background-repeat: no-repeat;
  transition: width 0.3s;
}

.sidebar .logo-box {
  @apply flex items-center justify-center text-white;
  height: 60px;
  border-bottom: 0.5px solid #4e4d4d;
  position: relative;
}

.sidebar .expand-btn {
  @apply flex items-center justify-center h-[32px] absolute;
  /* background: #fff; */
  /* border-color: #000; */
  right: -45px;
  color: #000;
  cursor: pointer;
}

.sidebar .absolute-menu {
  display: none;
  left: 100%;
  z-index: 999;
  width: 250px;
}

.sidebar .expand-items:hover .absolute-menu {
  display: block;
}

.menu {
  overflow-y: auto;
  height: calc(100vh - 60px);
  color: #fff;
}
/* SCROLLBAR STYLING */
/* width */
.menu::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.menu::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.menu::-webkit-scrollbar-thumb {
  background: rgb(223, 223, 223);
  border-radius: 10px;
}

/* Handle on hover */
.menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.parent-menu-items {
  border-bottom: 1px solid rgba(72, 94, 144, 0.16);
}

.menu-items:hover {
  background: #e1e1e166;
}
