// STYLE FORM PRINT
.PrintContainer {
  font-size: 10pt;
  width: 100%;
  .Header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    .contentHeader {
      p {
        margin: 0;
        text-align: right;
      }
      .contentTitleHeader {
        font-weight: 600;
        font-size: 14pt;
      }
    }
  }
  .InforDeliveries {
    width: 100%;
    margin-bottom: 20px;
  }
  .InforOrder {
    width: 100%;
    margin-bottom: 20px;
    .paymentOrder {
      border: solid 1px black;
      border-top: 0px;
      .paymentItemOrder {
        display: flex;
        gap: 5px;
        border-bottom: dashed 1px rgb(186, 183, 183);
        height: 26px;
        align-items: center;
        padding: 0 10px;
        .title {
          font-weight: 600;
          width: 83%;
          text-align: right;
        }
      }
    }
  }
}
