@tailwind base;
@tailwind components;
@tailwind utilities;

.container-center {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.bgContainer {
  @apply flex flex-col w-full h-full shadow overflow-y-auto p-3 shadow-none;
}

input {
  outline: none !important;
}

input .disable-form-input,
.Mui-disabled:not(button) {
  @apply !border-disabled-input-border !cursor-not-allowed !bg-[#edecec]  !text-[#504e4e] !rounded;
  -webkit-text-fill-color: #504e4e !important;
}

.disable-btn {
  background: #aaa7a7 !important;
  cursor: not-allowed !important;
  color: rgb(230, 226, 226) !important;
}

.MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: rgb(239, 237, 237) !important;
  border-radius: 4px !important;
}

input[type="checkbox"] {
  background-color: #555 !important;
  width: 16px !important;
  height: 16px !important;
  border: 1px solid #fff !important;
}

/* CUSTOM MUI COMPONENT STYLE NEED TO LOAD FIRST AT ALL */
/* GROUPING COLUMN STYLES */
.grouping-column .MuiDataGrid-columnHeaderTitleContainerContent {
  @apply flex justify-center;
}

.grouping-column .css-f3jnds-MuiDataGrid-columnHeaders {
  height: 96px !important;
  min-height: 96px !important;
  max-height: 96px !important;
}

.grouping-column
  .MuiDataGrid-columnHeaders
  .css-yrdy0g-MuiDataGrid-columnHeaderRow:first-child {
  height: 32px !important;
  line-height: 32px !important;
  border-bottom: 1px solid #fff;
  @apply text-white bg-main;
}

.grouping-column
  .MuiDataGrid-columnHeaders
  .css-yrdy0g-MuiDataGrid-columnHeaderRow:first-child
  .MuiDataGrid-columnHeader {
  height: 32px !important;
  line-height: 32px !important;
}

.grouping-column .MuiDataGrid-virtualScroller {
  transform: translateY(-32px);
}

/* CUSTOM HEADER HEIGHT */
.data-table-container .MuiDataGrid-columnHeaderTitleContainerContent {
  width: 100%;
}

.bgContainer .data-table-container {
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: -12px;
  width: calc(100% + 24px) !important;
}

.data-table-container .MuiDataGrid-columnHeaders,
.data-table-container .MuiDataGrid-root {
  border-radius: 0 !important;
  border: none;
}

/* CUSTOM ROW HEIGHT TO AUTO */
.data-table-container .MuiDataGrid-virtualScrollerContent {
  max-height: none !important;
  min-height: 40px !important;
  padding-bottom: 20px !important;
}

.data-table-container .MuiDataGrid-cell {
  line-height: unset !important;
  max-height: none !important;
  white-space: normal !important;
  min-height: 40px !important;
  padding: 8px;
}

.data-table-container .MuiDataGrid-row {
  max-height: none !important;
  min-height: 40px !important;
}

/* SCROLLBAR STYLING */
/* width */
.data-table-container .MuiDataGrid-virtualScroller::-webkit-scrollbar {
  width: 4px;
  height: 12px;
}

/* Track */
.data-table-container .MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.data-table-container .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
  background: rgb(223, 223, 223);
}

/* Handle on hover */
.data-table-container
  .MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* handle table */
.MuiDataGrid-columnHeader .MuiDataGrid-columnSeparator svg {
  display: none !important;
}

.MuiDataGrid-columnHeader {
  outline: none !important;
}

.MuiDataGrid-virtualScrollerRenderZone .MuiDataGrid-row:nth-child(2n) {
  background-color: #f3f6f9 !important;
}
.MuiDataGrid-virtualScrollerRenderZone .MuiDataGrid-row {
  border: none !important;
  cursor: pointer !important;
}
.MuiDataGrid-virtualScrollerRenderZone .MuiDataGrid-cell {
  border: none !important;
  outline: none !important;
}

.MuiChip-root {
  border-radius: 4px !important;
  font-weight: 600;
}

.data-table-container .MuiDataGrid-footerContainer button {
  @apply text-main mx-2 hover:bg-main-2 !cursor-pointer;
}

.data-table-container .MuiDataGrid-footerContainer p {
  @apply text-main font-semibold !cursor-pointer;
}
